body{
	background: url('/img/answer_background.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    background-position: 500px;
    background-color: #7950ca;
}
