body{
	font-family: 'GothamLight', 'Tahoma', sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
}

.simpsons{
	animation: moveup .5s;
	-webkit-animation: moveup .5s;
	background: url('/img/simpsons_background.jpg') no-repeat center center fixed;
	background-size: 100%;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1.lander_text{
	display: inline-block;
	font-size: 124px;
	font-weight: normal;
	animation: fadein 3s;
	-webkit-animation: fadein 3s;

}

#who{
	position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 36px;
    text-align: center;
	animation: fadein 1.5s ease-in;
	-webkit-animation: fadein 1.5s ease-in;
}

#reveal{
	position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 28px;
    text-align: center;
}

#qud{
	display: none;
	position: fixed;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#hra{
	display: none;
	position: fixed;
    top: 40%;
    left: 61%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

a.lander_link{
	text-decoration: none;
	font-size: 20px;
	text-decoration: none;
	color: #000;
}

#link1{
	position: fixed;
    top: 59%;
    left: 38%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: none;

}

#link2{
	position: fixed;
    top: 59%;
    left: 55%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    display: none;

}

.link_fadein{
	animation: fadein .8s;
	-webkit-animation: fadein .8s;
}

#want{
	display: none;
}

#simpson{
	visibility: hidden;
}

.want_fadein{
	animation: fadein 1.5s ease-in;
	-webkit-animation: fadein 1.5s ease-in;
		-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
}

.fadeout{
	animation: fadeout 1.5s ease-out;
	-webkit-animation: fadeout 1.5s ease-out;
}
@keyframes moveup {
	0% { background-position: 0 0;
		background-color: #000; }
	25% {background-position: 25% 0;}
	50% {background-position: 50% 0;}
	75% {background-position: 75% 0; }
	100% { background-position: 100% 0; }
}

@-webkit-keyframes moveup {
	0% { background-position: 0% -100%; }
	10% {background-position: 25% -85%;}
	20% {background-position: 25% -70%;}
	30% {background-position: 25% -55%;}
	40% {background-position: 50% -40%; }
	50% {background-position: 25% -25%;}
	60% {background-position: 25% -10%;}
	70% {background-position: 25% 5%;}
	80% {background-position: 25% 20%;}
	90% {background-position: 75% 35%; }
	100% { background-position: 100% 50%; }
}
