<!DOCTYPE head>
<html>
<head>
<link rel='stylesheet' type='text/css' href='/css/main.css' />
<link rel='stylesheet' type='text/css' href='/css/addquestion.css' />

<title> Qudo'hra - Add Answer </title>

<style>
body{
	background: url('/img/answer_background.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
 	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    background-position: 500px;
    background-color: #7950ca;
}
</style>

</head>

<body>
	<form action='' method='POST'>
	{% if question %}
	<p> Question: {{question.content}} </p>	
	{% endif %}
	<label> Answer: <textarea name='content' rows='15' cols='60' required></textarea required> </label>

	<input type='submit' value='Add Answer' />
	</form>

</body>
</html>