<!DOCTYPE head>
<html>
<head>
<link rel='stylesheet' type='text/css' href='/css/main.css' />
<link rel='stylesheet' type='text/css' href='/css/addquestion.css' />
</head>

<body>
	<form action='/addquestion' method='POST'>	
	<label id='question'> What is your question? <textarea name='question' rows='10' cols='40' required></textarea> </label>
	<label> Which tags do you want to add to this question? <input type='text' name='tags' class='input_tags'/> </label>

	<input type='submit' value='Add Question' />
	</form>
</body>
</html>