<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' type='text/css' href='/css/main.css' />
<link rel='stylesheet' type='text/css' href='/css/index.css' />
</head>

<body>
<div id='wrapper'>
<div class='animate'>
<h1 class='greeting'>Welcome to Qud'ohra, the Simpsons-inspired Quora copy.</h1>
<a href='/addquestion'> Add question </a>


{% if questions %}
Current Questions:
<ul>

	{% for question in questions %}
	<li>{{question.content}} --- {{question.dateModified}} 

	{% if user %}
	<a class='vote' href='/votequestion?direction=up&questionid={{question.key.urlsafe()}}'> Vote up</a>
	<a class='vote' href='/votequestion?direction=down&questionid={{question.key.urlsafe()}}'> Vote down</a>

		{% if question.user == user %}
		<a class='edit' href='/editquestion?questionid={{question.key.urlsafe()}}'> Edit</a>  
		{% endif %}
	{% endif %}
	</li>

	<ul>
	{% for answer in question.answers %}
		<li>{{answer.content}} --- {{answer.dateModified}}</li>
	{% endfor %}

		{% if user %}
		<a href='/addanswer?questionid={{question.key.urlsafe()}}'> Add answer </a><br />
		{% endif %}

	</ul>
	{% endfor %}
</ul>
	{% else %}

<p> No questions yet. {% if user %} <a href='/addquestion'>Ask one!</a> </p>{% endif %}

	{% endif %}
	</div>
</div>
</body>

</html>